@model WebComputos.Models.TtipoCasilla
@{
    ViewData["Title"] = "EditCasilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<h3 class="text-center">Crear tipo casilla</h3>
<form method="post" asp-action="Create">
    <input type="hidden" asp-for="IdTipoCasilla" />
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Siglas"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Siglas" class="form-control" />
                    <span asp-validation-for="Siglas" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" asp-route-id="@Model.IdTipoCasilla" class="btn btn-success form-control">Guardar Cambios</button>
                            &nbsp;
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger form-control">voler a lista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


