<div class="row">
    <div class="col">
        <button type="submit" id="Guardar" class="btn btn-success form-control">Crear</button>
        &nbsp;
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-danger form-control">Volver a lista</a>
    </div>
</div>