@model WebComputos.Models.ViewModels.ActasVM

@{
    ViewData["Title"] = "Detalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row px-2 mx-2 border">
    <div class="col-10 offset-1 mt-4">

        <div class="form-group row">
            <div class="col-6">
                <label for="est">Estatus en la que se recibió el acta:</label>
            </div>
            <div class="col-6">
                @Html.DropDownListFor(m => m.Actas.Estatus, Model.LEstatusActa,
                "-Estatus del acta-", new { @id = "est", @class = "form-control", @disabled = "disabled" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-10">
                <label asp-for="Actas.Sobrantes" class="control-label"></label>
            </div>
            <div class="col-2">
                <input asp-for="Actas.Sobrantes" class="form-control" disabled />
                <span asp-validation-for="Actas.Sobrantes" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-10">
                <label asp-for="Actas.VotosCiu" class="control-label"></label>
            </div>
            <div class="col-2">
                <input asp-for="Actas.VotosCiu" class="form-control" disabled />
                <span asp-validation-for="Actas.VotosCiu" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-10">
                <label asp-for="Actas.VotosRep" class="control-label"></label>
            </div>
            <div class="col-2">
                <input asp-for="Actas.VotosRep" class="form-control" disabled />
                <span asp-validation-for="Actas.VotosRep" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-10">
                <label asp-for="Actas.TotalVotos" class="control-label"></label>
            </div>
            <div class="col-2">
                <input asp-for="Actas.TotalVotos" class="form-control" disabled />
                <span asp-validation-for="Actas.TotalVotos" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-10">
                <label asp-for="Actas.VotosUrnas" class="control-label"></label>
            </div>
            <div class="col-2">
                <input asp-for="Actas.VotosUrnas" class="form-control" disabled />
                <span asp-validation-for="Actas.VotosUrnas" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <label class="control-label">¿Se presentaron incidentes durante el escrutinio y cómputo de la elección? </label>
            </div>
            <div class="col-6">
                <label class="control-label">Describa brevemente:</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input id="inci1" type="radio" name="Chein" value="True" asp-for="Actas.Incidentes" disabled />
                <label for="inci1" class="form-check-label"> Si</label>
            </div>
            <div class="col-4">
                <input id="inci2" type="radio" name="Chein" value="False" asp-for="Actas.Incidentes" disabled />
                <label for="inci2" class="form-check-label"> No</label>
            </div>
            <div class="col-6">
                <input type="text" id="Descri2" asp-for="Actas.DesIncidentes" class="form-control" disabled />

            </div>
        </div>
        <div class="form-group row">
            <input type="hidden" asp-for="Actas.IdActa" id="idacta" class="form-control" disabled />
        </div>
    </div>
</div>
<div class="row px-2 mx-2 border">
    <div class="col-10 offset-1 mt-4">
        <div class="form-group row">
            <div id="VistaParcial" class="col-12">

            </div>
        </div>
        
    </div>
</div>
<br />
<div class="form-group row">
    <div class="col-3">
        <a asp-action="Index" class="btn btn-danger form-control">Volver a lista</a>
    </div>
</div>

@section Scripts
{
    <script src="~/js/Resultados.js"></script>
}
