@model WebComputos.Models.ViewModels.CasillaDetVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<h3 class="text-center">Editar CasillaDet</h3>
<form method="post" asp-action="Create">
    <div class="row px-2 mx-2 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="CasillaDet.NoCasilla"></label>
                </div>
                <div class="col-4">
                    <input asp-for="CasillaDet.NoCasilla" class="form-control" />
                    <span asp-validation-for="CasillaDet.NoCasilla" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="CasillaDet.ExtContigua"></label>
                </div>
                <div class="col-4">
                    <input asp-for="CasillaDet.ExtContigua" class="form-control" />
                    <span asp-validation-for="CasillaDet.ExtContigua" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="CasillaDet.Seccion"></label>
                    <div class="col-4">
                        @Html.DropDownListFor(m => m.CasillaDet.Seccion, Model.LSeccion,
                       "-Por favor seleccione una sección-", new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-2">
                    <label asp-for="CasillaDet.Seccion"></label>
                    <div class="col-4">
                        @Html.DropDownListFor(m => m.CasillaDet.TipoCasilla, Model.LTipoCasilla,
                       "-Por favor seleccione un tipo de casilla-", new { @class = "form-control" })
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-2">
                    <label asp-for="CasillaDet.ListadoNominal"></label>
                </div>
                <div class="col-4">
                    <input type="number" asp-for="CasillaDet.ListadoNominal" class="form-control" />
                    <span asp-validation-for="CasillaDet.ListadoNominal" class="text-danger"></span>
                </div>
                <div class="col-2">
                    <label asp-for="CasillaDet.Activo"></label>
                </div>
                <div class="col-4">
                    <input asp-for="CasillaDet.Activo" class="form-check" />
                    <span asp-validation-for="CasillaDet.Activo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <partial name="_GuardarVolver" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8 offset-4">
                <div class="row">
                    <div class="col">
                        <button type="submit" asp-route-id="@Model.CasillaDet.IdCasillaDet" class="btn btn-success form-control">Guardar Cambios</button>
                        &nbsp;
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-danger form-control">voler a lista</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



