@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Lista de tipos de acta</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i>Crear Nuevo tipo de acta</a>
        </div>
    </div>
    <br />
    <br />
    <table id="tblTipoActas" class="table table-striped table-bordered " style="width:100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Nomre</th>
                <th>Tipo elección</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script src="~/js/TipoActas.js">
    </script>
}

