@model WebComputos.Models.TCoalicion
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h3 class="text-center">Crear nueva coalicion</h3>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" asp-for="IdCoalicion" />
    <div class="row px-2 mx-2 border">
        <div class="col-4 pt-3">
            <center><img src="@Model.Logo" width="150px" height="150px" style="border-radius:5px; border:1px solid #bbb9b9" /></center>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Nombre"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Siglas"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Siglas" class="form-control" />
                    <span asp-validation-for="Siglas" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Logo"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="arhivos" id="SubidaArchivo" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    <div class="row">
                        <div class="col">
                            <button type="submit" asp-route-id="@Model.IdCoalicion" class="btn btn-success form-control">Guardar Cambios</button>
                            &nbsp;
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger form-control">voler a lista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


